 .u-section-1 {
  background-image: url("images/03fcfb072345ad4782ff0467fe34d7ba-8.jpg");
}

.u-section-1 .u-sheet-1 {
  min-height: 1245px;
}

.u-section-1 .u-table-1 {
  margin-top: 112px;
  margin-bottom: 60px;
}

.u-section-1 .u-table-header-1 {
  background-image: none;
  text-transform: uppercase;
  font-weight: 900;
}

.u-section-1 .u-table-cell-11 {
  background-image: none;
}

.u-section-1 .u-table-cell-12 {
  background-image: none;
}

.u-section-1 .u-table-cell-13 {
  background-image: none;
}

.u-section-1 .u-table-cell-14 {
  background-image: none;
}

.u-section-1 .u-table-cell-15 {
  background-image: none;
}

.u-section-1 .u-table-cell-16 {
  background-image: none;
}

.u-section-1 .u-table-cell-17 {
  background-image: none;
}

.u-section-1 .u-table-cell-18 {
  background-image: none;
}

.u-section-1 .u-table-cell-20 {
  background-image: none;
}

.u-section-1 .u-table-cell-21 {
  background-image: none;
}

.u-section-1 .u-table-cell-22 {
  background-image: none;
}

.u-section-1 .u-table-cell-23 {
  background-image: none;
}

.u-section-1 .u-table-cell-24 {
  background-image: none;
}

.u-section-1 .u-table-cell-25 {
  background-image: none;
}

.u-section-1 .u-table-cell-26 {
  background-image: none;
}

.u-section-1 .u-table-cell-27 {
  background-image: none;
}

.u-section-1 .u-table-cell-29 {
  background-image: none;
}

.u-section-1 .u-table-cell-30 {
  background-image: none;
}

.u-section-1 .u-table-cell-31 {
  background-image: none;
}

.u-section-1 .u-table-cell-32 {
  background-image: none;
}

.u-section-1 .u-table-cell-33 {
  background-image: none;
}

.u-section-1 .u-table-cell-34 {
  background-image: none;
}

.u-section-1 .u-table-cell-35 {
  background-image: none;
}

.u-section-1 .u-table-cell-36 {
  background-image: none;
}

.u-section-1 .u-table-cell-38 {
  background-image: none;
}

.u-section-1 .u-table-cell-39 {
  background-image: none;
}

.u-section-1 .u-table-cell-40 {
  background-image: none;
}

.u-section-1 .u-table-cell-41 {
  background-image: none;
}

.u-section-1 .u-table-cell-42 {
  background-image: none;
}

.u-section-1 .u-table-cell-43 {
  background-image: none;
}

.u-section-1 .u-table-cell-44 {
  background-image: none;
}

.u-section-1 .u-table-cell-45 {
  background-image: none;
}

.u-section-1 .u-table-cell-47 {
  background-image: none;
}

.u-section-1 .u-table-cell-48 {
  background-image: none;
}

.u-section-1 .u-table-cell-49 {
  background-image: none;
}

.u-section-1 .u-table-cell-50 {
  background-image: none;
}

.u-section-1 .u-table-cell-51 {
  background-image: none;
}

.u-section-1 .u-table-cell-52 {
  background-image: none;
}

.u-section-1 .u-table-cell-53 {
  background-image: none;
}

.u-section-1 .u-table-cell-54 {
  background-image: none;
}

.u-section-1 .u-table-cell-56 {
  background-image: none;
}

.u-section-1 .u-table-cell-57 {
  background-image: none;
}

.u-section-1 .u-table-cell-58 {
  background-image: none;
}

.u-section-1 .u-table-cell-59 {
  background-image: none;
}

.u-section-1 .u-table-cell-60 {
  background-image: none;
}

.u-section-1 .u-table-cell-61 {
  background-image: none;
}

.u-section-1 .u-table-cell-62 {
  background-image: none;
}

.u-section-1 .u-table-cell-63 {
  background-image: none;
}

.u-section-1 .u-table-cell-65 {
  background-image: none;
}

.u-section-1 .u-table-cell-66 {
  background-image: none;
}

.u-section-1 .u-table-cell-67 {
  background-image: none;
}

.u-section-1 .u-table-cell-68 {
  background-image: none;
}

.u-section-1 .u-table-cell-69 {
  background-image: none;
}

.u-section-1 .u-table-cell-70 {
  background-image: none;
}

.u-section-1 .u-table-cell-71 {
  background-image: none;
}

.u-section-1 .u-table-cell-72 {
  background-image: none;
}

.u-section-1 .u-table-cell-74 {
  background-image: none;
}

.u-section-1 .u-table-cell-75 {
  background-image: none;
}

.u-section-1 .u-table-cell-76 {
  background-image: none;
}

.u-section-1 .u-table-cell-77 {
  background-image: none;
}

.u-section-1 .u-table-cell-78 {
  background-image: none;
}

.u-section-1 .u-table-cell-79 {
  background-image: none;
}

.u-section-1 .u-table-cell-80 {
  background-image: none;
}

.u-section-1 .u-table-cell-81 {
  background-image: none;
}

.u-section-1 .u-table-cell-83 {
  background-image: none;
}

.u-section-1 .u-table-cell-84 {
  background-image: none;
}

.u-section-1 .u-table-cell-85 {
  background-image: none;
}

.u-section-1 .u-table-cell-86 {
  background-image: none;
}

.u-section-1 .u-table-cell-87 {
  background-image: none;
}

.u-section-1 .u-table-cell-88 {
  background-image: none;
}

.u-section-1 .u-table-cell-89 {
  background-image: none;
}

.u-section-1 .u-table-cell-90 {
  background-image: none;
}

.u-section-1 .u-table-cell-92 {
  background-image: none;
}

.u-section-1 .u-table-cell-93 {
  background-image: none;
}

.u-section-1 .u-table-cell-94 {
  background-image: none;
}

.u-section-1 .u-table-cell-95 {
  background-image: none;
}

.u-section-1 .u-table-cell-96 {
  background-image: none;
}

.u-section-1 .u-table-cell-97 {
  background-image: none;
}

.u-section-1 .u-table-cell-98 {
  background-image: none;
}

.u-section-1 .u-table-cell-99 {
  background-image: none;
}

.u-section-1 .u-table-cell-101 {
  background-image: none;
}

.u-section-1 .u-table-cell-102 {
  background-image: none;
}

.u-section-1 .u-table-cell-103 {
  background-image: none;
}

.u-section-1 .u-table-cell-104 {
  background-image: none;
}

.u-section-1 .u-table-cell-105 {
  background-image: none;
}

.u-section-1 .u-table-cell-106 {
  background-image: none;
}

.u-section-1 .u-table-cell-107 {
  background-image: none;
}

.u-section-1 .u-table-cell-108 {
  background-image: none;
}

.u-section-1 .u-table-footer-1 {
  background-image: none;
}

@media (max-width: 1199px) {
  .u-section-1 .u-sheet-1 {
    min-height: 1027px;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-sheet-1 {
    min-height: 787px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-sheet-1 {
    min-height: 590px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-sheet-1 {
    min-height: 371px;
  }
}